.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  /* margin-bottom: -119%; */
}
.page-item {
  list-style: none;
  margin: 5px;
}
.button1212 {
  background-color: rgb(246, 204, 101);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-weight: 500;
}
