.slider {
  position: absolute;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 22%;
  right: 32px;
  font-size: 3rem;
  /* font-weight: lighter; */
  color: #000;
  z-index: 10;
  cursor: pointer;
  /* user-select: none; */
}

.left-arrow {
  position: absolute;
  top: 22%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  /* user-select: none; */
}

.slide {
  opacity: 1;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 5;
  transition-duration: 1s;
  transform: scale(1.08);
}
.container {
  width: 96%;
  margin-left: 30px;
}
.cont1 {
  width: 96%;
  margin-left: 30px;
  background-color: #fff;
}

.out {
  height: 243px;
  width: 100%;
  padding: 20px;
  /* padding-bottom: 5px; */
  background-color: white;
}

.Price_item {
  font-size: 20px;
  text-align: center;

  height: 226px;
  margin-top: 6px;
  justify-content: center;
}

.slick-prev:before {
  color: black !important;
  padding: 10px;
}
.slick-next:before {
  color: black !important;
  padding: 6px;
}
.img_height {
  width: 90%;
  justify-content: center;
}
.cont_h1_tag {
  margin-top: 33px;
  padding-top: 21px;
  padding-left: 20px;
  font-size: 23px;
}
.img_landing_scrolling {
  width: 100%;
}
.margin_image_sliding_top {
  margin-top: -250px;
}
