body {
  font-family: "Amazon Ember", Arial, sans-serif;
}
.search_main {
  display: flex;
}
.seach_first {
  width: 50px;
  background-color: rgb(235, 233, 233);
  height: 46px;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid darkgrey;
  display: flex;
  justify-content: center;
}
.seach_first p {
  color: grey;
  font-size: 14px;
  margin-top: 17px;
}
.search_img {
  margin-top: 14px;
  color: grey;
}
.search_input input {
  width: 730px;
  height: 41px;
}
.search_input input:focus {
  outline: 2px solid rgb(243, 168, 71);
}

.search_icon {
  color: rgb(19, 25, 33);
  font-size: 30px;
}
.search_icon_main {
  background-color: rgb(243, 168, 71);
  width: 51px;
  display: flex;
  align-items: center;
  height: 47px;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
}
