.profile {
    padding: 0.8rem 8.5rem;
  }
  
  .profile__optionsContainer {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .profile__header {
    font-weight: 400;
    margin-bottom: 0.7rem;
  }
  
  .profile__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }