body {
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.navbar_main {
  display: flex;
  width: 100%;
  height: 67px;
  background-color: rgb(19, 25, 33);
}
.navbar_img {
  width: 140px;

  height: 46px;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar_img:hover {
  width: 140px;
  border: 1px solid white;
  border-radius: 5px;
  height: 46px;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar_img img {
  width: 100px;
  height: 38px;
  padding: 10px;
}
.navbar_in {
  color: white;
  margin-top: 25px;
  margin-left: -29px;
}
.navbar_address {
  width: 150px;

  height: 40px;
  margin-left: 24px;
  margin-top: 10px;
  display: flex;
  padding: 3px;
}
.navbar_address:hover {
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  margin-left: 24px;
  margin-top: 10px;
  display: flex;
  padding: 3px;
}
.navbar_location {
  color: white;
  margin-top: 9px;
}
.navbar_deli {
  margin-top: -14px;
  color: white;
}
.navbar_deli > h4 {
  font-size: 12px;
  color: rgb(218, 218, 218);
}
.navbar_deli > h3 {
  font-size: 14px;
  margin-top: -13px;
}
.navbar_deliacc {
  color: white;
}
.navbar_deliacc > h4 {
  font-size: 12px;
  color: rgb(218, 218, 218);
}
.navbar_deliacc > h3 {
  font-size: 14px;
  margin-top: -13px;
}
.navbar_search {
  width: 840px;

  height: 46px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar_flag {
  width: 40px;
  margin-top: 3px;
  background: rgb(19, 25, 33);
}
.account {
  width: 120px;

  height: 46px;
  margin-top: -3px;
  margin-left: 32px;
}

.navbar_cart {
  color: white;
  margin: 16px;
}
.navbar_cart1 {
  color: white;

  margin-left: -13px;
}
.cart2 {
  margin-left: 4px;
}
.nav_top {
  margin-top: 26px;
}
.navbar_hover {
  display: flex;
  width: 90px;

  height: 46px;
  margin-top: 10px;
}
.navbar_hover:hover {
  display: flex;
  width: 90px;
  border: 1px solid white;
  height: 46px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
.navabar_flag_border {
  width: 40px;

  height: 46px;
  margin-top: 10px;
  margin-left: 20px;
}
.navabar_flag_border:hover {
  width: 40px;
  outline: 1px solid white;
  height: 46px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
}
.display_Navbar_bottom {
  display: flex;
  width: 75%;
  margin-bottom: -30px;
  justify-content: space-evenly;
  color: white;
}
.main_second_navbar {
  background-color: rgb(35, 47, 62);
  height: 53px;
  display: flex;
}
.p_hovering {
  width: fit-content;
  padding: 4px 8px;
  height: 20px;
  border: 1px solid transparent;
}

.p_hovering:hover {
  border: 1px solid white;
  cursor: pointer;
}
.img_logo {
  margin-top: 6px;
}
